* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Standard";
  src: url("Standard-Book.woff2") format("woff2"), url("Standard-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Standard";
  src: url("Standard-Bold.woff2") format("woff2"), url("Standard-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #272727;
  font-family: "Standard";
}

p {
  margin: 0;
  margin-bottom: 0.5em;
  line-height: 130%;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  padding-bottom: 40px;
  font-size: 0.8rem;
}
footer a {
  color: blue;
}

#nav {
  z-index: 9;
  position: fixed;
  background: #fff;
  width: 100%;
  bottom: 0;
  padding: 1em;
}
#nav .type {
  display: flex;
  justify-content: space-around;
}
#nav a {
  padding: 0 0.5em;
  cursor: pointer;
  opacity: 0.2;
  font-size: 0.8rem;
}
#nav a[active] {
  opacity: 0.8;
}

#nav h1 {
  font-weight: normal;
  font-size: 1.15rem;
}

#info {
  padding: 1em;
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
}
#info .info-box {
  margin: 0 0.5em;
}
#info span.type {
  display: inline-block;
  padding: 0.25em 0;
}
#info .links a {
  display: block;
  margin: 0.25em 0;
  font-size: 0.9em;
  color: blue;
}
#info p {
  max-width: 600px;
  opacity: 0.8;
}
#info .intro p {
  opacity: 1;
}
#info .types p, #info .fundraiser p {
  font-size: 0.6rem;
}
#info h3 {
  font-weight: normal;
}
@media only screen and (max-width: 720px) {
  #info {
    flex-wrap: wrap;
  }
  #info p {
    font-size: 0.8rem;
  }
}

sup {
  font-size: 0.4rem;
}

#library {
  width: 100%;
  padding: 1em;
}
#library .filters {
  margin-bottom: 1em;
}
#library .filters a {
  font-size: 0.8rem;
  opacity: 0.4;
}
#library .filters a:hover, #library .filters a[active] {
  opacity: 0.8;
  cursor: pointer;
}
#library .filters a:not(:last-of-type):after {
  content: ",";
}
#library .library-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.book {
  display: inline-block;
  margin: 0.1em 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.75em;
  vertical-align: center;
  font-size: 0.7rem;
  cursor: pointer;
  transition: all 0.2s linear;
  transition-delay: 0.1s;
}
.book strong {
  display: inline-block;
  font-weight: normal;
  line-height: 110%;
}
.book u {
  font-size: 0.9em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.book:hover {
  transition: color 0s linear;
}

.book[type=wishlist] {
  opacity: 0.4;
}

@media only screen and (max-width: 720px) {
  main,
footer {
    display: flex;
    flex-direction: column;
  }

  #info {
    width: 100%;
  }

  #library {
    width: 100%;
    padding: 0 1em;
  }
  #library .book {
    margin: 0.15em 0;
    width: 100% !important;
  }
}

/*# sourceMappingURL=s.css.map */
