* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Favorit Mono";
  src: url("FavoritMono-Regular.woff2") format("woff2"), url("FavoritMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Editorial New";
  src: url("EditorialNew-Regular.woff2") format("woff2"), url("EditorialNew-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Editorial New";
  src: url("EditorialNew-Light.woff2") format("woff2"), url("EditorialNew-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Standard";
  src: url("Standard-Book.woff2") format("woff2"), url("Standard-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Standard";
  src: url("Standard-Bold.woff2") format("woff2"), url("Standard-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #272727;
  font-family: "Favorit Mono";
  margin: 0;
  padding: 0;
  scroll-margin-top: 20vh;
}

p {
  margin: 0;
  margin-bottom: 0.5em;
  line-height: 130%;
}

#intro {
  background: #fff;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro .intro-nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2em;
}
#intro .intro-nav span.descriptor {
  position: absolute;
  opacity: 0.4;
  text-align: center;
  display: inline-block;
  padding: 2em;
  width: 100%;
  left: 0;
  text-transform: uppercase;
  text-align: center;
}
#intro .intro-nav a {
  cursor: pointer;
  z-index: 9;
  opacity: 0.75;
}
#intro .intro-nav a:hover {
  opacity: 1;
}
#intro .intro-nav.intro-top {
  top: 0;
}
#intro .intro-nav.intro-bottom {
  bottom: 0;
}
#intro .intro-nav.intro-bottom span {
  bottom: 0;
}
#intro #intro-main h1 {
  font-size: 5.2em;
  text-align: center;
  margin: 0 auto;
  font-family: "Editorial New";
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 90%;
  padding: 1rem;
}
#intro #intro-main p {
  font-family: "Times New Roman";
  letter-spacing: -0.25px;
  font-size: 0.8rem;
  text-align: center;
}
#intro #intro-main .intro-books {
  display: flex;
}
#intro #intro-main .intro-books .b {
  display: inline-block;
  width: 40px;
  height: 150px;
  background: #000;
  margin: 0.2em;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  padding-bottom: 40px;
  font-size: 0.8rem;
}
footer a {
  color: #000;
  text-decoration: none;
  opacity: 0.8;
}

#top {
  display: flex;
  justify-content: flex-start;
  height: 130px;
}
#top h1, #top h2 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
#top .subnav {
  cursor: pointer;
}
#top .subnav h2 {
  font-size: 1rem;
}
#top .subnav:hover > h2:not(:hover) {
  opacity: 0.5;
}
#top .t {
  margin-right: 0.5em;
  border-radius: 1px solid #000;
  padding: 0.5em;
}
#top .t.title {
  width: 250px;
}
#top .t.subnav {
  width: 120px;
}
#top .t.info {
  height: 100%;
  overflow-y: scroll;
  flex-grow: 1;
  width: 70vw;
  max-width: 500px;
  font-size: 0.75rem;
}
#top .info-wrapper[content] {
  display: none;
}
#top .info-wrapper[content=info] {
  display: block;
}
@media only screen and (max-width: 720px) {
  #top {
    flex-wrap: wrap;
    min-height: 280px;
    height: auto;
  }
  #top .t.info {
    overflow-y: scroll;
    width: 100vw;
  }
}

#info {
  padding: 1em 0.5em;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}
#info a {
  color: blue;
}
#info span.type {
  display: inline-block;
  padding: 0.25em 0;
}
#info .links {
  display: flex;
}
#info .links a {
  display: block;
  padding: 0.25em 0;
  margin: 0.25em 0;
  margin-right: 1em;
}
#info p {
  max-width: 600px;
  color: #434343;
}
#info .info-box {
  margin: 0 0.5em;
}
#info .info-box p {
  max-width: 600px;
}
#info .intro {
  flex-grow: 2;
}
#info .intro p {
  max-width: 920px;
  font-size: 1.1rem;
}
#info .types p,
#info .fundraiser p {
  font-size: 0.75rem;
}
#info h3 {
  font-weight: normal;
}
@media only screen and (max-width: 720px) {
  #info {
    flex-wrap: wrap;
  }
  #info p {
    font-size: 0.9rem;
  }
}

sup {
  font-size: 0.4rem;
}

#filters {
  position: sticky;
  top: 0;
  background: #fff;
  padding: 1em;
  width: 100%;
}
@media only screen and (max-width: 720px) {
  #filters {
    padding: 1em 0.5em;
  }
}
#filters a {
  font-size: 1rem;
  opacity: 0.4;
}
#filters a:hover,
#filters a[active] {
  opacity: 0.8;
  cursor: pointer;
}
#filters a:not(:last-of-type):after {
  content: ",";
}

.filters a {
  opacity: 0.6;
}
.filters a:hover,
.filters a[active] {
  opacity: 1;
  cursor: pointer;
}

#library {
  width: 100%;
  padding: 0 1em;
}
#library h2 {
  font-weight: normal;
  font-family: "Editorial New";
  font-weight: 300;
  font-size: 1.75rem;
  letter-spacing: -1px;
}
#library .library-header {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#library .library-header h2 {
  width: 220px;
  display: inline-block;
}
#library .library-header .filters {
  transform: translateY(8px);
  width: calc(100% - 220px - 2em);
  font-family: "Editorial New";
  font-weight: 300;
}
#library .library-header .filters a {
  display: inline-block;
  min-width: 150px;
}
#library .library-wrapper {
  height: auto;
  min-height: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#library .library-view {
  height: auto;
}
#library .library-view .library-view-wrapper {
  padding: 2em 0;
  padding-top: 5em;
  text-align: center;
  width: 100%;
}
#library .library-view .library-view-wrapper p {
  max-width: 600px;
  margin: 0 auto;
  font-family: "Times New Roman";
  letter-spacing: -0.25px;
}
#library .library-view .library-view-wrapper .library-view-details-titleauthor {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  transform: translateY(-160px);
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 720px) {
  #library .library-view .library-view-wrapper .library-view-details-titleauthor {
    transform: translateY(-120px);
  }
}
#library .library-view .library-view-wrapper *._acquired {
  display: block;
}
#library .library-view .library-view-wrapper *._unacquired {
  display: none;
}
#library .library-view .library-view-book {
  display: inline-block;
  width: 180px;
  height: 260px;
  padding: 0.5em;
  background: #000;
  margin: 0 auto;
}
@media only screen and (max-width: 720px) {
  #library .library-view .library-view-book {
    width: 120px;
    height: 180px;
  }
}
#library .library-view .library-view-wrapper.wishlist .library-view-book {
  opacity: 0.4;
}
#library .library-view .library-view-wrapper.wishlist *._acquired {
  display: none;
}
#library .library-view .library-view-wrapper.wishlist *._unacquired {
  display: block;
}
#library .library-view .library-view-details {
  padding: 0.5em;
}
@media only screen and (max-width: 720px) {
  #library .library-view .library-view-details {
    min-height: 70px;
  }
}
#library .library-view .library-view-details p {
  font-size: 0.6rem;
}
#library .library-view .library-view-details h1[name=title] {
  font-family: "Editorial New";
  text-align: center;
  width: 80vw;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: -1px;
  line-height: 90%;
  margin: 0 auto;
}
#library .library-view .library-view-details span[name=author] {
  font-family: "Times New Roman";
  letter-spacing: -0.25px;
  font-size: 0.75rem;
  opacity: 0.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (max-width: 720px) {
  #library .library-view .library-view-horizontal-wrapper, #library .library-view .library-view-horizontal {
    max-height: 100px;
    height: 100px;
  }
}
#library .library-view .library-view-horizontal-wrapper {
  width: 100%;
  overflow-x: scroll;
  height: 150px;
  padding: 0.5em;
}
#library .library-view .library-view-horizontal {
  width: fit-content;
  height: 150px;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
#library .library-view .library-view-horizontal .book {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 180px;
  background: #000;
  margin: 0.1em;
  margin-top: auto;
  margin-bottom: 0;
  transition: all 0.4s linear;
  transition-delay: 0.1s;
}
#library .library-view .library-view-horizontal .book .book-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}
#library .library-view .library-view-horizontal .book span[name=title], #library .library-view .library-view-horizontal .book span[name=author] {
  display: none;
}
#library .library-view .library-view-horizontal .book:hover {
  cursor: pointer;
  transform: rotate(3deg);
  transition: background 0s linear;
}

.library-view-list {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  counter-reset: book-count;
}
@media only screen and (max-width: 720px) {
  .library-view-list {
    padding: 0.75em;
  }
}

.library-view-list .book {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0.5em;
  vertical-align: center;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.2s linear;
  transition-delay: 0.1s;
  width: calc(50% - 12px);
  counter-increment: book-count;
  display: flex;
  justify-content: space-between;
}
.library-view-list .book span {
  font-size: 0.8rem;
}
.library-view-list .book span[name=title] {
  display: inline-block;
  padding-left: 0.25em;
  padding-right: 1em;
  max-width: 70%;
  width: 400px;
  text-align: justify;
  line-height: 110%;
  font-family: "Editorial New";
  font-weight: 300;
  letter-spacing: -0.25px;
}
.library-view-list .book span[name=author] {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.5em;
  text-align: right;
  letter-spacing: -0.25px;
}
@media only screen and (max-width: 720px) {
  .library-view-list .book {
    width: 100%;
    max-width: none;
    font-size: 0.8rem;
    margin: 0.15em 0;
    padding: 0.25em 0;
  }
  .library-view-list .book span[name=title] {
    padding-left: 0.75rem;
  }
  .library-view-list .book span[name=author] {
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  .library-view-list .book {
    width: calc(33% - 12px);
  }
}
@media only screen and (min-width: 1800px) {
  .library-view-list .book {
    width: calc(25% - 12px);
  }
}

.library-view-list .book::before {
  position: absolute;
  left: -8px;
  width: 16px;
  content: counter(book-count);
  font-size: 0.4rem;
  opacity: 0.6;
}

.book:hover {
  transition: color 0s linear;
}

.book[type=wishlist] {
  opacity: 0.4;
}

@media only screen and (max-width: 720px) {
  main,
footer {
    display: flex;
    flex-direction: column;
  }

  #info {
    width: 100%;
    padding: 0.5em;
  }

  #library {
    width: 100%;
    padding: 0 0.5em;
  }
  #library .book {
    margin: 0.15em 0;
    width: 100%;
  }
}

/*# sourceMappingURL=s.css.map */
