* {
  box-sizing: border-box;
}

$serif: "Times New Roman";

@font-face {
    font-family: 'Favorit Mono';
    src: url('FavoritMono-Regular.woff2') format('woff2'),
        url('FavoritMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Editorial New';
    src: url('EditorialNew-Regular.woff2') format('woff2'),
        url('EditorialNew-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Editorial New';
    src: url('EditorialNew-Light.woff2') format('woff2'),
        url('EditorialNew-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}




@font-face {
  font-family: 'Standard';
  src: url('Standard-Book.woff2') format('woff2'),
    url('Standard-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Standard';
  src: url('Standard-Bold.woff2') format('woff2'),
    url('Standard-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



body {
  //background: linear-gradient(90deg, rgba(255,196,232,1) 0%, rgba(255,255,255,1) 100%);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #272727;
        font-family: 'Favorit Mono';


  margin: 0;
  padding: 0;
  
  scroll-margin-top:20vh;
}

main {
  //  display: flex;
}

p {
  margin: 0;
  margin-bottom: .5em;
  line-height: 130%;
}



// INTRO

#intro{
  background: #fff;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro{
  
  .intro-nav{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2em;

    
    span.descriptor{
      position: absolute;
      opacity: 0.4;
      text-align: center;
      display: inline-block;
      padding: 2em;
      width: 100%;
      left: 0;
      text-transform: uppercase;
      text-align: center;
    }
    
    a{
      cursor: pointer;
      z-index: 9;
      opacity: 0.75;
    }
    
    a:hover{
      opacity: 1;
    }
  }
  
  .intro-nav.intro-top{
    top: 0;
  }
  .intro-nav.intro-bottom{
    bottom: 0;
    
    span{
      bottom: 0;
    }
    
  }
  
  #intro-main{
    
    h1{
      font-size:5.2em;
      text-align: center;
      margin: 0 auto;
          font-family: 'Editorial New';
      font-weight: 300;
      letter-spacing: -2px;
      line-height: 90%;
      padding: 1rem;
    }
    
    p{
      font-family: $serif;
      letter-spacing: -.25px;
      font-size: .8rem;
      text-align: center;
    }
    
    .intro-books{
      display: flex;
      
      .b{
        display: inline-block;
        width: 40px;
        height: 150px;
        background:#000;
        margin: .2em;
      }
      
    }
    
  }
  
  
}


// FOOTER

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  padding-bottom: 40px;
  font-size: .8rem;
  
  a{
    color: #000;
    text-decoration: none;
    opacity: 0.8;
  }

}

// TOP

#top{
  display: flex;
  justify-content: flex-start;
  height: 130px;
  
  h1,h2{
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  
  .subnav{
    cursor: pointer;
    h2{
      font-size: 1rem;
    }
  }
  
  .subnav:hover > h2:not(:hover){
    opacity: 0.5;
  }
  
  .t{
    margin-right: .5em;
    border-radius: 1px solid #000;
    padding: .5em;
  }
  
  .t:first-of-type{
    
  }
  
  .t.title{
   width: 250px; 
  }
  
  .t.subnav{
    width: 120px;
  }
  
  .t.info{
    height: 100%;
    overflow-y: scroll;
    flex-grow: 1;
    width: 70vw;
    max-width: 500px;
    
    font-size: .75rem;
  }
  
  .info-wrapper{
  }
  
  .info-wrapper[content]{
    display: none;
  }
  
  .info-wrapper[content='info']{
    display: block;
  }
  
  @media only screen and (max-width: 720px) {
  
    flex-wrap: wrap;
    min-height: 280px;
    height: auto;
    .t.info{
      overflow-y: scroll;
      width: 100vw;
    }
    
  }
  
}



#info {
  padding: 1em .5em;
  font-size: .8rem;
  display: flex;
  justify-content: space-between;

  a {
    color: blue;
  }

  span.type {
    display: inline-block;
    padding: .25em 0;

  }

  .links {
    display: flex;
    a {
      display: block;
      padding: .25em 0;
      margin: .25em 0;
      margin-right: 1em;
    }
  }

  p {
    max-width: 600px;
    color: #434343;
  }

  .info-box{
    margin: 0 .5em;
    p{
      max-width: 600px;
      
    }
  }
  

  
  .intro {
    flex-grow: 2;

    p {
      max-width: 920px;
      font-size: 1.1rem;
    }
  }

  .types,
  .fundraiser {
    p {
      font-size: .75rem;
    }
  }


  h3 {
    font-weight: normal;
  }

  @media only screen and (max-width: 720px) {
    flex-wrap: wrap;

    p {
      font-size: .9rem;
    }

  }
}

sup {
  font-size: .4rem;
}


  #filters {
    position: sticky;
    top: 0;
    background: #fff;
    padding: 1em;
    width: 100%;
  @media only screen and (max-width: 720px) {
    padding: 1em .5em;
    }

    a {
      font-size: 1rem;
      opacity: 0.4;
    }

    a:hover,
    a[active] {
      opacity: 0.8;
      cursor: pointer;
    }


    a:not(:last-of-type):after {
      content: ","
    }

  }

.filters{
  a{
        opacity: 0.6;
  }
  
    a:hover,
    a[active] {
      opacity: 1;
      cursor: pointer;
    }
}

#library {
  width: 100%;
  padding: 0 1em;
  
  h2{
    font-weight: normal;
    font-family: 'Editorial New';
    font-weight: 300;
    font-size: 1.75rem;
    letter-spacing: -1px;
  }
  
  .library-header{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    
    h2{
      width: 220px;
      display: inline-block;
    }
    
    .filters{
      transform: translateY(8px);
      width: calc(100% - 220px - 2em);
    font-family: 'Editorial New';
      font-weight: 300;
      
      a{
        display: inline-block;
        min-width: 150px;
      }
      
      
    }
    
  }
  
  .library-view{

  }


  .library-wrapper {
    height: auto;
    min-height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

}


#library .library-view{
  
  height: auto;
  
  .library-view-wrapper{
    padding: 2em 0;
    padding-top: 5em;
    
    text-align: center;
    width: 100%;
    
    p{
      max-width: 600px;
      margin: 0 auto;
      font-family: $serif;
      letter-spacing: -.25px;
    }
    
    .library-view-details-titleauthor{
      position: absolute;
      width: 100%;
      text-align: center;
      left: 0;
      transform: translateY(-160px);
      margin: 0;
      padding: 0;
  @media only screen and (max-width: 720px) {
      transform: translateY(-120px);
      }
    }
    
    *._acquired{
      display: block;
    }
    
    *._unacquired{
      display:none;
    }
  }
  
  .library-view-book{
    display: inline-block;
    width: 180px;
    height: 260px;
    padding: .5em;
    background:#000;
    margin: 0 auto;
    
  @media only screen and (max-width: 720px) {
    width: 120px;
    height: 180px;
    }
  }
  .library-view-wrapper.wishlist{
//    opacity: 0.7;  
    
    .library-view-book{
      opacity: 0.4;
    }
    
    *._acquired{
      display: none;
    }
    
    *._unacquired{
      display:block;
    }
    
  }
  
  .library-view-details{
    padding: .5em;
//    min-height: 80px;
    
  @media only screen and (max-width: 720px) {
    min-height: 70px;
    }
    
    p{
      font-size: .6rem;
    }
    
    h1[name='title']{
    font-family: 'Editorial New';
      text-align: center;
      width: 80vw;
      font-weight: 300;
      font-size: 2rem;
      letter-spacing: -1px;
      line-height: 90%;
      margin: 0 auto;
    }
    
    span[name='author']{
      font-family: $serif;
      letter-spacing: -.25px;
      font-size: .75rem;
      opacity: 0.6;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
    
  }
  
      
  @media only screen and (max-width: 720px) {
    
    .library-view-horizontal-wrapper, .library-view-horizontal{
      max-height: 100px;      
      height: 100px;
    }  
    
    }
  
  
  .library-view-horizontal-wrapper{
    width: 100%;
    overflow-x: scroll;
    height: 150px;
    padding: .5em;
  }
  
  .library-view-horizontal{
    width: fit-content;
    height: 150px;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    
    .book{
      position: relative;
      display: inline-block;
      width: 20px;
      height: 180px;
      background: #000;
      margin: .1em;
      margin-top: auto;
      margin-bottom: 0;
      
    transition: all .4s linear;
    transition-delay: .1s;

      
      .book-content{
        position: relative;
        width: 100%;
        height: 100%;
        display: none;
      }
      
      span[name='title'], span[name='author']{
        display: none;
      }
      
    }
    
    .book:hover{
      cursor: pointer;
      transform: rotate(3deg);
  transition: background 0s linear;
    }
    
  }
  
}

.library-view-list{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  
  counter-reset: book-count;
  
  @media only screen and (max-width: 720px) {
  padding: .75em;
  }
  
}

.library-view-list .book {
  position: relative;
  display: inline-block;
//  background: red;
  margin: 0;
  padding: .5em;
  vertical-align: center;
  font-size: .8rem;
  cursor: pointer;
  transition: all .2s linear;
  transition-delay: .1s;
  width: calc(50% - 12px);
  
  counter-increment: book-count;
  
  display: flex;
  justify-content: space-between;
  
  span{
    font-size: .8rem;
  }

    span[name='title'] {
    display: inline-block;
    padding-left: .25em;
    padding-right: 1em;
    max-width: 70%;
    width: 400px;
    text-align: justify;
    line-height: 110%;
    font-family: 'Editorial New';
      font-weight: 300;
      letter-spacing: -.25px;
  }

  span[name='author'] {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: .5em;
    text-align: right;
    letter-spacing: -.25px;
  }
  
  @media only screen and (max-width: 720px) {
    width: 100%;
    max-width: none;
    font-size: .8rem;
    margin: .15em 0;
    padding: .25em 0;
    
    span[name='title'] {
    padding-left: .75rem;
    }
    
  span[name='author'] { display: none; }
    
  }
  
  @media only screen and (min-width: 900px) {
    width: calc(33% - 12px);
  }
  
  @media only screen and (min-width: 1800px) {
    width: calc(25% - 12px);
  }

}

.library-view-list .book::before{
  position: absolute;
  left: -8px;
  width: 16px;
  content: counter(book-count);
  font-size: .4rem;
  opacity: 0.6;
}

.book:hover {
  transition: color 0s linear;
}

.book[type='acquired'] {}

.book[type='wishlist'] {
  opacity: 0.4;
}

@media only screen and (max-width: 720px) {

  main,
  footer {
    display: flex;
    flex-direction: column;
  }

  #info {
    width: 100%;
    padding: .5em;
  }

  #library {
    width: 100%;
    padding: 0 .5em;

    .book {
      margin: .15em 0;
      width: 100%;
    }

  }

}
